/* Write your CSS here */
.container {
  height: 100vh;
  background-color: #1e293b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  font-size: 60px;
  color: #f0bb03;
  font-family: Bree Serif;
}
.para {
  font-size: 40px;
  color: white;
  font-family: Bree Serif;
}
button {
  height: 10vh;
  width: 150px;
  font-size: 20px;
  color: black;
  font-family: Bree Serif;
  background-color: white;
  border-radius: 10px;
}
